{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}

{% if movie %}

{# Display card for the movie details #}
<div class="movie-container text-true-black">
  <ul class="movie-info">
    <div class="movie-title">[Stock Name] {# {{ stock.name }} #}
      <p class="movie-date"> &middot;[Stock Symbol]{# {{ stock.name }} #}</p>
    </div>
    <li class="opacity-40 md:px-4"><b>Name:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Symbol:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Exchange:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Currency:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Datetime:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Open:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>High:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Low:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Close:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Volume:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Previous Close:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Change:</b>{# {{ stock.name }} #}</li>
    <li class="opacity-40 md:px-4"><b>Average Volume:</b>{# {{ stock.name }} #}</li>
  </ul>

  <div class="w-0 lg:w-96"></div>
</div>
{% endif %} {% endblock content %}