{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg }}
  </b>
{% endif %}
<div class="h-40"></div>
<div class="results-container">
  <div class="decoration-container"><div class="decoration"></div></div>
  {% for result in results %}
  <a 
    href="{{ url_for('movies.movie_detail', movie_id=result.imdb_id) }}"
    class="group movie-card"
  >
    <h5 class="movie-card-content text-true-black"> {{ result.title }}
      <span class="text-neutral-400 font-normal text-true-black"> &middot; {{ result.year }} </span>
    </h5>
  </a>
  {% endfor %}
</div>

{% endblock %}
