{% extends "header.html" %} {% block content %}

{% if error_msg %}
  <b class="text-red-400">
    {{ error_msg | safe }}
  </b>
{% endif %}

{% if stock %}

{# Display card for the stock details #}
<div class="movie-container text-true-black">
  <ul class="movie-info">
    <div class="movie-title">[{{ stock.name }}] 
      <p class="movie-date"> &middot; [{{ stock.symbol }}] </p>
    </div>
    <li class="opacity-40 md:px-4"><b>Name:</b> {{ stock.name }} </li>
    <li class="opacity-40 md:px-4"><b>Symbol:</b> {{ stock.symbol }} </li>
    <li class="opacity-40 md:px-4"><b>Exchange:</b> {{ stock.exchange }} </li>
    <li class="opacity-40 md:px-4"><b>Currency:</b> {{ stock.currency }} </li>
    <li class="opacity-40 md:px-4"><b>Datetime:</b> {{ stock.datetime }} </li>
    <li class="opacity-40 md:px-4"><b>Open:</b> {{ stock.open }} </li>
    <li class="opacity-40 md:px-4"><b>High:</b> {{ stock.high }} </li>
    <li class="opacity-40 md:px-4"><b>Low:</b> {{ stock.low }} </li>
    <li class="opacity-40 md:px-4"><b>Close:</b> {{ stock.close }} </li>
    <li class="opacity-40 md:px-4"><b>Volume:</b> {{ stock.volume }} </li>
    <li class="opacity-40 md:px-4"><b>Previous Close:</b> {{ stock.previous_close }} </li>
    <li class="opacity-40 md:px-4"><b>Change:</b> {{ stock.change_percent }} </li>
    <li class="opacity-40 md:px-4"><b>Average Volume:</b> {{ stock.average_volume }} </li>
    <li class="opacity-40 md:px-4"><b>Is this stock market open:</b> {{ stock.is_market_open }} </li>
  </ul>
  
  {# everyone's watched stocks #}
  <div class="reviews">
    <h1 class="reviews-title"> Watchers
      <small class="reviews-count"> {{ watchers | length }} watches </small>
    </h1>
    <ul class="review-container">
      {% for watch in watchers %}
        <li class="review flex gap-2">
          <img class="h-20 w-20 rounded-lg" src="data:image/png;base64,{{watch.image}}" alt="Why's it not working" />
          <div class="w-full">
            <span class="review-date">{{ watch.date }}</span>
            <a class="review-commenter" href="{{ url_for('stocks.user_detail', username=watch.watcher.username) }}">
              @{{ watch.watcher.username }}
            </a>
            <p class="review-content">Started watching when stock high was: {{ watch.high }} and stock low was: {{ watch.low }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>

    {% if current_user.is_authenticated %}
      <div class="container mx-auto">
        <form method="POST" action="" class="review-form">
          {{ form.csrf_token }}
          {{ form.submit(class="review-button") }}
        </form>
      </div>
    {% endif %}
  </div>
  <div class="w-0 lg:w-96"></div>
  
</div>
{% endif %} {% endblock content %}